<html>
    <head>
        <title>Scrabble Word Calculator</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <style>
            body {
                background: #e2e2e2;
            }
            h1 {
                text-align: center;
                padding: 20px;
                background: darkgrey;
            }
        </style>
    </head>
    <body>
        <h1>Scrabble Word Calculator</h1>

        <div class="container">
            <form action='/view_result'>
                <label for="word">Please enter your scrabble word:</label>
                <input name="word" id="word" type="text">

                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>
