<html>
    <head>
        <title>Scrabble Word Value</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <style>
            body {
                background: #e2e2e2;
            }
            h1 {
                text-align: center;
                padding: 20px;
                background: darkgrey;
            }
            #home_link {
                padding-top: 50px;
                padding-left: 25px;
            }
            .output {
                text-align: center;
                padding: 50px;
            }
        </style>
    </head>
    <body>
        <h1>Scrabble Word Value</h1>
        <div class="container output">
            {% if value_string is not empty %}
            <h4>{{ value_string }}</h4>
            {% else %}
            <h4>The scrabble point value is: {{ value_number }}</h4>
            {% endif %}
        </div>
        <div id="home_link">
            <a href="/">Calculate Another Word</a>
        </div>
    </body>
</html>
